.App {
  text-align: center;
  background-color: var(--main-bg-color);
  height: 1000px;
}

.App-header {
  background-color: var(--main-bg-color);
  height: 60px;
  padding: 10px;
  color: var(--main-white-color);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.ao-header-logo {
  padding-left: 40px;
  height: 70px;
  width: 180px;
  float: left;
}

ion-icon {
  font-size: 30px;
}

.header-grid {
  display: grid;
  grid-template-columns: 1px 180px 350px 200px 50px 10px;
  margin-top: 12px;
}

.header-grid-item {
  text-align: center;

}

.header-grid-text {
  margin-top: 10px;
}

.header-grid-icon {
  padding-top: 5px;
}

.header-grid-search {
  padding: 8px;
  width: 300px;
  border-radius: 5px;
  position: relative;
}

.header-grid-search-icon {
  position: absolute;
  left: 705px;
  color: var(--main-bg-color);
  padding-top: 2px;
}

.header-grid-person-icon {
  position: absolute;
  left: 770px;
}

.header-grid-item-basket {
  padding-top: 10px;
}

.header-grid-basket-icon {
  position: absolute;
}

