.App {
  text-align: center;
  background-color: var(--main-bg-color);
  height: 1000px;
}

.App-header {
  background-color: var(--main-bg-color);
  height: 50px;
  padding: 20px;
  color: var(--main-white-color);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.input-box {
  border: solid 2px black;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  font-size: 100%;
  width: 250px;
}

.item {
  font-size: 185%;
  color: black;
  list-style-type: none;
  margin-bottom: 10px;
}

.item-button {
  background-color: gray;
  color: #fff;
  border: solid 2px black;
  border-radius: 5px;
  padding: 10px;
  float: right;
  margin-right: 300px;
}

.item-button:hover {
  background-color: black;
}

