.App {
  text-align: center;
  background-color: var(--main-bg-color);
  height: 1000px;
}

.App-header {
  background-color: var(--main-bg-color);
  height: 50px;
  padding: 20px;
  color: var(--main-white-color);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-basket {
  font-size: 1.2em;
  float: right;
  padding-top: 15px;
}

.ao-header-logo {
  height: 70px;
  width: 180px;
  float: left;
}



